{% extends 'base.html' %}
{% load staticfiles %}
{% block content_full %}
<div class="page-header d-flex align-items-center about-us-page">
    <div class="pt-2 pb-2">
        <h1>About us</h1>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="about-us mt-3">
        <h2 class="bol-text">WeCanChangeOurWorld</h2>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-3">
                     <div class="founder-image mt-3">
                        <img src="{% static 'images/profile-about-us.jpg' %}" alt="">
                        <p class="text-muted bol-text">Cheryl Harper</p>
                         <strong>Founder</strong>
                     </div>
                </div>
                <div class="col-md-9">

                </div>
            </div>
        </div>
        <div class="content mt-5 pr-3 pb-3 border-bottom">
            <p>WeCanChangeOurWorld is an online media & news platform / portal (many to many), to showcase, connect and communicate all social and environmental development, with the view to facilitate and optimize COLLABORATION between the stakeholders:
                Government, Businesses, NGO's / NPO”s and Service Providers for the GREATER GOOD
                for everyone in South Africa & the World!</p>

        </div>
        <h6 class="bol-text mt-2">We can be your marketing and public relations partner by:</h6>
        <ul class="list-item mt-3">
            <li>Marketing and promoting your NPO on our portal, newsletter,
                social media and in all our networking opportunities. We are the GOOD NEWS site—for all
                the good things that are happening, also appeals fundraising, events, workshops, conferences,
                jobs and opportunities.</li>
            <li>
                Are YOU a Change Maker?—showcase yourself and your good work on our portal.
            </li>
            <li>
                Showcase your organization on our platform with a Profile (mini website), with about us, programmes, services, support, news and contact details for exposure
                to all the traffic coming to our site.
            </li>
            <li>
                Send regular news, events, success stories, events and activities for our news sections and newsletter. The more proactive you are,
                the more you will be seen by potential funders.
            </li>
            <li>
                Identifying the stakeholders to get involved: Government, Corporates, Communities, Organizations
            </li>
            <li>Educating NGO”s through news about workshops and various service providers</li>
            <li>Selection of companies/s, / corporate funders, to target</li>
        </ul>

        <div class="donors-funders mt-5">
            <h6 class="bol-text">Funders and Donors</h6>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6>&raquo; Ackerman Foundation</h6>
                        <p class="pl-2">She opened doors for funding</p>
                    </div>
                    <div class="col-md-4">
                        <h6>&raquo; Foschini Group </h6>
                        <p class="pl-2">She arranged funding and partnership agreements</p>
                    </div>
                    <div class="col-md-4">
                        <h6>&raquo; Community Chest </h6>
                        <p class="pl-2">Initiated partnership and project support</p>
                    </div>

                </div>
                <div class="row mt-3">
                     <div class="col-md-4">
                        <h6>&raquo; Old Mutual </h6>
                        <p class="pl-2">Initiated opportunities for funding and special projects</p>
                    </div>
                     <div class="col-md-4">
                        <h6>&raquo; SETA </h6>
                        <p class="pl-2">Introduced YISS to key players with regards to accreditation opportunities</p>
                    </div>
                     <div class="col-md-4">
                        <h6>&raquo; Shoprite </h6>
                        <p class="pl-2">Acquired donations for our Elderly and youth graduation events</p>
                    </div>
                </div>

                <blockquote class="mt-3">
                    Cheryl’s website has benefitted YISS in many ways and continues to do so through
                    the generous exposure that YISS is enjoying through her website."
                </blockquote>
            </div>
        </div>

    </div>

{% endblock %}

{% block sidebar %}
    <div class="sidebar mt-3 ml-2">
        <h6 class="title">Donations</h6>
        <div class="who-wrote mt-3">
            &mdash;
            <h6 class="bol-text">Zanele Njapha</h6>
        <strong>Sustainability Manager, Brandhouse</strong>
        <p class="text-muted">“Greetings Sihle, We applaud you on the wonderful work that you do in the community.
            We received your plea for laptop donations, from Cheryl Harper at WeCanChangeOurWorld.
            We have 25 laptops (2nd hand) which we would like to donate your organization.”</p>
            &mdash;
            <h6 class="bol-text">Jesmina Stemmet</h6>
            <strong>YISS</strong>
            <p class="text-muted">"Ms Cheryl Harper is also a valued and trusted member of the YISS board of directors.
                Below are a few examples of her influence, input and value to YISS."</p>
        </div>
    </div>
{% endblock %}