{% extends 'base.html' %}

{% block content_full %}

    <div class="page-header d-flex align-items-center opportunity-page">
        <div class="pt-2 pb-2">
            <h1>Opportunities</h1>
        </div>

    </div>
{% endblock %}
{% block content %}
<div class="opportunities">
    {% for opportunity in opportunities%}
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="opportunity-image">
                <img src="/media/{{ opportunity.company_logo }}" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <div class="opportunity">
                <div class="opportunity-header">
                    <a href="{% url 'opportunities' %}{{ opportunity.slug }}"><h6>{{ opportunity.name }}</h6></a>
                    <small class="text-muted">Posted: {{ opportunity.date_posted }}</small>
                </div>
                <div class="opportunity-body">
                    <p>{{ opportunity.description|safe }}</p>
                    <a href="{% url 'opportunities'%}{{ opportunity.slug }}" class="btn btn-primary mt-3">read more</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}